name: cd-azure

on:
    push:
        paths:
            - ".github/workflows/cd-azure.yml"
            - "api/**"
    workflow_dispatch: # manual

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - uses: docker/setup-buildx-action@v2
            - run: docker build ls
            - uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_PASS }}
            - run: ./build-push.sh
              working-directory: ./api