name: cd-azure

on:
    push:
        paths:
            - ".github/workflows/cd-azure.yml"
            - "api/**"
    workflow_dispatch: # manual

jobs:
    # build:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v4
    #           with:
    #             fetch-depth: 0
    #         - uses: docker/setup-buildx-action@v2
    #         - run: docker build ls
    #         - uses: docker/login-action@v3
    #           with:
    #             username: ${{ secrets.DOCKERHUB_USERNAME }}
    #             password: ${{ secrets.DOCKERHUB_PASS }}
    #         - run: ./build-push.sh
    #           working-directory: api
    deploy:
        runs-on: ubuntu-latest
        environment: 
            name: production
            url: ${{ steps.deploy.outputs.webapp-url }}
        # needs: build
        steps:
            - uses: azure/login@v2
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}
            - uses: azure/webapps-deploy@v3
              id: deploy
              with:
                app-name: 'course-gh-actions-web-api'
                images: 'course-gh-actions:latest'
                resource-group-name: 'course-gh-actions'